/* These make sure the footer stays at the bottom */
.utrecht-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.utrecht-page__content {
    height: 100vh;
}

.utrecht-page-footer {
    margin-top: auto;
}

.header-align {
    padding: 30px;
    text-align: center;
}

.redirect-loader-size {
    width: 80px !important;
    height: 80px !important;
}

.fit-content {
    width: fit-content !important;
}
.nijmegen-login-button {
    width: 265px;
    display: block;
    text-decoration: none !important;
    margin-top: 20px;
}

.nijmegen-login-button:hover {
    text-decoration: none !important;
}

.nijmegen-login-button div {
    padding: 15px;
    background: #157C68;
    width: 265px;
    padding-top: 20px;
}

.nijmegen-login-button b {
    text-align: center;
    color: white;
    vertical-align: middle;
    padding-left: 45px;
}

.list {
    list-style-type: none;
}

.utrecht-sidenav__item {
    text-decoration-line: none;
    font-size: 15px;
    margin: 10px;
    color: black;
}

.utrecht-sidenav__item-hover {
    text-decoration: none;
}


/* Temporary header overwrites */
.utrecht-navhtml {
    border-bottom: 2px solid #a80a2d;
}

.utrecht-logo {
    float: left;
    margin-bottom: -100px;
}

.utrecht-topnav__list {
    float: right;
}

.utrecht-topnav__item {
    margin-right: 20px;
    
}
.utrecht-topnav__item:hover * {
    cursor: pointer;
    
}
/* End header overwrites */

.sidenav-span {
    margin-right: 20px;
}
